.container{
    padding: 20px;
    background-color: aqua;
    margin: 12px;
    border: 15px solid blue;
}
.main-text{
    font-size: 30px;
    background-color: antiquewhite;
    margin: 10px;
    border: 10px solid black;

    border-radius: 7%;
}
.main-text1{
    font-size: 20px;
    background-color: antiquewhite;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-left: 40px;

    border-top: 5px solid red;
    border-left: 15px solid chartreuse;
    border-right: 30px solid black; 
    border-bottom: 45px solid orchid;

    border-top-left-radius: 30px;
    border-bottom-right-radius: 50px;
}