.container #myHeader{
    color: red;
}
div + h1{
    color: green;
}
.myText1 + .myText2{
    color: orange;
}
.myText0 ~ .myText2{
    color: blue;
    font-size:x-large;
}
.myInput[type="text"], .input[type="email"]{
    border: 2px solid green;
}